<apex:page standardController="Account" recordSetVar="accounts">
    <apex:repeat var="a" value="{!accounts}">
        <ul>
    		<li>{!a.Name}</li>
            
            <li>
                <apex:outputLink value="/{!a.Id}">View Details
                </apex:outputLink>
            </li>
        </ul>
    </apex:repeat>
</apex:page>